<div class="profile-show">
    <div class="row">
        <h3>Your Profile</h3>
        <ul class="profile-list">
            <li>
                <label>First Name:</label>
                <output><%= @profile.first_name %></output>
            </li>
            <li>
                <label>Last Name:</label>
                <output><%= @profile.last_name %></output>
            </li> 
            <li>
                <label>Address:</label>
                <output><%= @profile.street_number %> <%= @profile.street_name %> <%= @profile.suburb %> <%= @profile.postcode %></output>
            </li>
            <li>
                <label>State:</label>
                <output><%= @profile.state %></output>
            </li> 
            <li>
                <label>Country:</label>
                <output><%= @profile.country %></output>
            </li>
            <div class="edit-profile">
                <%= link_to 'Edit Profile', profile_edit_path %>
            </div>
        </ul>
    </div>
</div>

<hr>

<div class="requests-show">
    <div class="row">
    <h3>Your Parts Requests</h3>
        <% Request.where(user_id: current_user).find_each do |request| %>
            <ul class="profile-list">
                <li>
                    <label>Part:</label>
                    <output><%= request.part_name %></output>
                    <br>
                    <br>
                    <label>For:</label>
                    <output><%= request.car_year %> <%= request.car_make %> <%= request.car_model %></output>
                </li>
            </ul>
            <div class="show-request">
                <p><%= link_to  "See Request", request %></p>
            </div>
            
        <% end %>
    </div>
</div>
