<div class="requests-show">
    <div class="row">
        <h2>Browse Requests</h2>
        <ul class="requests-list">
            <% @requests.each do |request| %>
            <li>
                <label>Part:</label>
                <output><%= request.part_name %></output>
                <br>
                <br>
                <label>Description:</label>
                <output><%= request.part_description %></output>
                <br>
                <br>
                <label>For:</label>
                <output><%= request.car_year %> <%= request.car_make %> <%= request.car_model %></output>
                <br>
                <br>
                <output><%= image_tag request.image_url(:thumb) %></output>
            </li>
            <div class="show-request">
                <%= link_to  "Show Request", request %>
            </div>
            <% end %>
        </ul>
    </div>
</div>