<h1>Your Spare Parts Request</h1>

<p>
    <p>Part Name: <%= @request.part_name %></p>
</p>
<p>
    <p>Part Description: <%= @request.part_description %></p>
</p>
<p>
    <p>Your Car: <%= @request.car_year %> <%= @request.car_make %> <%= @request.car_model %> <%= @request.car_series %> </p>
</p>
<p>
    <p>Image: <%= image_tag @request.image_url(:medium) %></p>
</p>

<% if policy(@request).edit? %>
    <%= link_to  "Edit Request", edit_request_path  %>
<% end %>

<h3><%= link_to "Make a Spare Parts Offer", new_request_offer_path(@request)  %></h3>