<div class="requests-show">
    <div class="row">
    <h2>Parts Request</h2>
        <ul class="requests-list">
            <li>
                <label>Part:</label>
                <output><%= @request.part_name %></output>
                <br>
                <br>
                <label>Description:</label>
                <output><%= @request.part_description %></output>
                <br>
                <br>
                <label>For:</label>
                <output><%= @request.car_year %> <%= @request.car_make %> <%= @request.car_model %></output>
                <br>
                <br>
                <output><%= image_tag @request.image_url(:medium) %></output>
            </li>
        </ul>

        <div class="requests-buttons">
            <% if policy(@request).edit? %>
            <div class="edit">
                <%= link_to  "Edit Request", edit_request_path, class: "button-submit"  %>
            </div>
            <% end %>
            <div class="show">
                <%= link_to  "View Offers", request_offers_path(@request), class: "button-submit" %>
            </div>
            <div class="offer">
                <%= link_to "Offer Part", new_request_offer_path(@request), class: "button-submit" %>
            </div>
        </div>
    </div>
</div>



