<%= form_with(model: offer, url: requests_offer_path, local: true) do |f| %>

    <div class="field">  
        <%= f.label :message %><br />
        <%= f.text_area :message, autofocus: true, required: true  %>
    </div>

    <div class="field">  
        <%= f.label :price %><br />
        <%= f.number_field :price, required: true  %>
    </div>
    
    <p>
        <%= f.submit %>
    </p>

<% end %>