<p>
    <p>Part Name: <%= @request.part_name %></p>
</p>
<p>
    <p>Part Description: <%= @request.part_description %></p>
</p>
<p>
    <p>Your Car: <%= @request.car_year %> <%= @request.car_make %> <%= @request.car_model %> <%= @request.car_series %> </p>
</p>
<p>
    <p>Images: <%= @request.image_data %></p>
</p>